<html>
<head>
    <title>Add New Ambassador</title>
</head>
<body>
<h1>Add New Ambassador</h1>
<form action="/ambassador/insert" method="get">
    Coupon Code: <input id="coupon_code" name="coupon_code" type="text" />
    <br />
    <br />
    Instagram Name: <input id="instagram_name" name="instagram_name" type="text" />
    <br />
    <br />
    Email: <input id="email" name="email" type="text" />
    <br />
    <br />
    First Name: <input id ="fname" name="fname" type="text" />
    <br />
    <br />
    Last Name: <input id ="lname" name="lname" type="text" />
    <br />
    <br />
    City: <input id ="city" name="city" type="text" />
    <br />
    <br />
    State: <input id ="state" name="state" type="text" />
    <input type="submit" />

</form>
</body>

</html>