<html>
<head>
    <title>Add New Order</title>
</head>
<body>
<h1>Add New Order</h1>
<form action="/customer/insert" method="get">
    Order Date: <input id="order_date" name="order_date" type="date" />
    <br />
    <br />
    Coupon Code: <input id ="coupon_code" name="coupon_code" type="text" />
    <br />
    <input type="submit" />

</form>
</body>

</html>