<%- include("../includes/header.ejs", {title:"product - " + result[0].product_name}); %>
<h1>Product Name - <%= result[0].product_name %></h1>
<ul>
    <li>Price: $<%= result[0].price %></li>
    <li>Product Number: <%= result[0].product_num %></li>
</ul>
</body>

</html>
