<html>
<head>
    <title>About</title>
</head>
<body>
<h1>About</h1>

<tr><th>Purpose:</th></tr>
<br/>
<br/>
<tr><th>On this site, the user can view information about our ambassadors, including the coupon code to use to get 20% off your order,
        shipment information, information about our customers, and all our products. The user is also able to see information on orders,
        including products ordered under a specific number and its shipping and customer information, all at once! The user is also able
        to edit this infomration, as well as add new information. </th></tr>
<br/>
<br/>
<tr><th>__________________________</th></tr>
<br/>
<br/>


<tr><th>Information about Us:</th></tr>
<br />
<br />
<tr><th>Wild and Free is a company that hand-makes bracelets that support animal conservation efforts. With each bracelet sold, 15% will go
    directly to organizations that work to help conserve endangered and vulnerable species at risk of extinction. </th></tr>
<br/>
<br/>
<tr><th>__________________________</th></tr>
<br/>
<br/>

<tr><th>Contact</th></tr>
<br/>
<br />
<tr><th>Email: wildandfree@wildandfree.com </th></tr>
<br/>
<br/>
<tr><th>__________________________</th></tr>
<br/>
<br/>

<tr><th>View our relational schema and ER Diagram here</th></tr>
<br/>
<br/>
<img src="/images/ER.png" alt="ER Diagram" style="width:600px;height:600px;">
<img src="/images/Schema.png" alt ="Relational Schema" style="width:600px;height:600px;">
<br />

</body>

</html>