<html>
<head>
    <title>About</title>
</head>
<body>
<h1>About</h1>

<tr><th>Purpose:</th></tr>
<br/>
<br/>
<tr><th>Write Purpose here</th></tr>
<br/>
<br/>
<tr><th>__________________________</th></tr>
<br/>
<br/>


<tr><th>Information about Us:</th></tr>
<br />
<br />
<tr><th>Write Information about Us here</th></tr>
<br/>
<br/>
<tr><th>__________________________</th></tr>
<br/>
<br/>

<tr><th>Contact</th></tr>
<br/>
<br />
<tr><th>Contact Info Here</th></tr>
<br/>
<br/>
<tr><th>__________________________</th></tr>
<br/>
<br/>

<tr><th>Links</th></tr>
<br/>
<br/>
<tr><th>View links to our ER Diagram and Relational Schema here</th></tr>
<br/>
<img src="/images/ER.png" alt="ER Diagram" >
<img src="/images/Schema.png" alt ="Relational Schema">
<a href="/public/images/ER.png">ER Diagram</a> <br />
<a href="/public/images/Schema.png">Relational Schema</a> <br />
<br />

</body>

</html>