<html>
<head>
    <title>About</title>
</head>
<body>
<h1>About</h1>

<tr><th>Purpose</th></tr>


<tr><th>Information about Us</th></tr>


<tr><th>Contact</th></tr>


<tr><th>Links</th></tr>
<a href="/ER.png">ER Diagram</a> <br />
<a href="/Schema.png">Relational Schema</a> <br />
<br />

</body>

</html>