<html>
<head>
    <title>Add New Customer</title>
</head>
<body>
<h1>Add New Customer</h1>
<form action="/customer/insert" method="get">
    Email: <input id="email" name="email" type="text" />
    <br />
    <br />
    First Name: <input id ="fname" name="fname" type="text" />
    <br />
    <br />
    Last Name: <input id ="lname" name="lname" type="text" />
    <br />
    <br />
    Ambassador?: <input id ="ifambassador" name="ifambassador" type="number" />
    <br />
    <br />
    Order Number:
    <br />
    <select id="order_num" name="order_num" multiple="multiple">
        <% for(var i=0; order_info.length > i; i++ ) { %>
            <option value="<%= order_info[i].order_num%>"><%= order_info[i].order_num%></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#order_num').multiselect();
        });
    </script>

    <br />
    <input type="submit" />

</form>
</body>

</html>